body {
    font-family: monospace;
}
button.btn {
    color: #338;
}

button.btn:disabled {
    color: #777;
    background: #eee;
    border: 1px solid #fff;
}

h4 {
    margin: 5px 0 5px 0;
    padding: 0;
}

#cheatCodes {
    width: 800px;
    height: 200px;
}

#gameOver {
    display:none;
}

button {
    border: 2px solid #88F;
    background: #eef;
    color: #003;
    font-weight: 900;
    font-family: monospace;
    margin: 3px;
}

button:hover {
    border: 2px solid #00F;
}

button:active {
    border: 2px solid #F00;
}

div.section {
  float: left;
  margin-right: 30px;
  margin-top: 10px;
}

div#cheats {
    clear:both;
    margin-top: 10px;
}

div#versionInfo {
    margin-top: 18px;
}