body {
    font-family: monospace;
}
button.btn {
    color: #338;
}

button.btn:disabled {
    color: #777;
    background: #eee;
    border: 1px solid #fff;
}

h4 {
    margin: 5px 0 5px 0;
    padding: 0;
}

#cheatCodes {
    width: 800px;
    height: 200px;
}

#gameOver {
    display:none;
}

#gameWon {
    display:none;
}

button {
    border: 2px solid #88F;
    background: #eef;
    color: #003;
    font-weight: 900;
    font-family: monospace;
    margin: 3px;
}

button:hover {
    border: 2px solid #00f;
}

button:active {
    border: 2px solid #f0f;
}

div.section {
  float: left;
  margin-right: 30px;
  margin-top: 10px;
}

div#cheats {
    clear:both;
    margin-top: 10px;
}

div#versionInfo {
    margin-top: 18px;
}

table.leftAlign th {
    text-align: left;
}

.extraRightPadding {
    padding-right: 8px;
}

table#gameStats td {
    font-size: 1.3em;
}

div.clearFloat {
    clear:both;
}

span.cost {
    font-size: .9em;
    color: #88F;
    font-weight: bold;
}

div#increaseClicks {
}

div#clickStats {
    float:left;
}

div#log {
    font-size:.8em;
    overflow:auto;
    height:120px;
    width: 350px;
    float:right;
    text-align:right;
}

div#log p {
    margin:0px;
    padding:0px;
    margin-top: 5px;
    margin-bottom: 1px;
    border-bottom: 1px dotted #eee;
}

div#gameState {
    float:right;
}