button.btn {
    color: #338;
}

button.btn:disabled {
    color: #777;
    background: #eee;
    border: 1px solid #fff;
}

h4 {
    margin: 5px 0 5px 0;
    padding: 0;
}

#cheatCodes {
    width: 800px;
    height: 200px;
}